header {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: top 0.3s;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.no-decoration {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    #about-me > div > div {
        display: flex;
        flex-direction: column;
    }
    #about-me > div > div > figure {
        width: 50%;
        align-self: center;
    }
}

/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bs-dark);
        color: var(--bs-light);
    }
}
*/