@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "./footer.css";
@import "./scrollbar.css";

header {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: top 0.3s;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
    background-color: #ffffff;
}

#my-projects {
    min-height: 600px;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.no-decoration {
    text-decoration: none;
}

.animated-link {
    position: relative;
    text-decoration: none;
}

.animated-link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.animated-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.btn {
    box-shadow: 4px solid;
}

.bg-header {
    background-color: rgb(51, 53, 54);
}

.text-white-75 {
    color: rgba(255,255,255,.75)
}

#project-search {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
#project-search div {
    display: flex;
    align-items: baseline;
}

.project-card {
    margin-bottom: 10px;
    display: flex;
}

input[type=search], select {
    width: 100%;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#project-search > div {
    width: 250px;
    border-radius: 5px;
    margin: 10px;
}
#project-search p {
    min-width: 80px;
    text-align: end;
    margin-right: 10px;
    margin-bottom: 0;
}

.nav-item:hover {
    background-color: rgba(124, 124, 124, 0.8);
    border-radius: 0.25em;
}

.skills-card {
    background-color: #fff;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
}
.skills-card-body {
}
.skills-card:hover {
    background-color: #c7c7c7;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    #about-me > div > div {
        display: flex;
        flex-direction: column;
    }
    #about-me > div > div > figure {
        width: 50%;
        align-self: center;
    }
    #project-search {
        flex-wrap: wrap;
        margin-top: 20px;
    }
}